<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Declare card with image -->
<div th:fragment="cardImg(title, desc)" class="card">
  <img src="/img/cover.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 th:text="${title}" class="card-title">Card title</h5>
    <p th:text="${desc}" class="card-text">Card description</p>
  </div>
</div>

<!-- Declare card with no-image -->
<div th:fragment="cardNoImg(name, desc)" class="card">
    <div class="card-body">
        <h5 th:text="${name}" class="card-title">Name</h5>
        <p th:text="${desc}" class="card-text">Desc</p>
    </div>
</div>

</body>
</html>