<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Home</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Features</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Pricing</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">FAQs</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">About</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 Company, Inc</p>
  </footer>
</div>
