<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none" href="/">
        <img src="/img/video-chat.png" width="32"/>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a class="nav-link px-2 link-secondary" th:href="@{/}">Home</a>
        </li>
        <li>
          <a class="nav-link px-2 link-dark" th:href="@{/topic}">Topic</a>
        </li>
        <li>
          <a class="nav-link px-2 link-dark" th:href="@{/course}">Course</a>
        </li>
        <li>
          <a class="nav-link px-2 link-dark" th:href="@{/aboutus}">About Us</a>
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input aria-label="Search" class="form-control" placeholder="Search..." type="search">
      </form>

      <div class="dropdown text-end">
        <a aria-expanded="false" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
           href="#">
          <img alt="mdo" class="rounded-circle" height="32" src="https://github.com/mdo.png" width="32">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
