<!doctype html>
<html lang="en"
      layout:decorate="~{layouts/weblayout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<div layout:fragment="contentLayout" class="container">
    <div class="row g-3">
        <div class="col-4" th:each="topic : ${topics}" th:object="${topic}">
            <!-- Path Variable -> th:href="@{/course/{id}(id=*{id})}"-->
            <!-- Request Param -> th:href="@{/course/{id}(id=*{id})}"-->
            <a th:href="@{/course(id=*{id})}">
                <div th:replace="~{fragment/card::cardImg(*{name}, *{description})}"></div>
            </a>
        </div>
    </div>
</div>

</body>
</html>