<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/weblayout}">
<head>
    <title>Topic</title>
    <link rel="stylesheet" href="/css/topic.css">
</head>
<body>

<div class="container" layout:fragment="contentLayout">
    <h1 class="mb-4">Topic Page</h1>
    <div class="row g-4">
        <div th:each="topic : ${data.data.list}" th:object="${topic}" class="col-sm-12 col-md-4 col-lg-3">
            <a href="#">
                <div th:replace="~{fragment/card::cardNoImg(*{name}, *{description})}"></div>
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <nav aria-label="...">
                <ul class="pagination pagination-sm">
                    <li th:each="no : ${data.data.navigatepageNums}"
                        class="page-item"
                        th:classappend="${no == data.data.pageNum ? 'active' : ''}"
                        aria-current="page">
                        <a th:text="${no}" class="page-link" th:href="@{/topic(pageNum=${no})}">Page No</a>
                    </li>
                    <!--<li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"></li>-->
                </ul>
            </nav>
        </div>
    </div>
</div>

</body>
</html>